node_modules
miniprogram_npm
/typings/core
/coverage
**/dist/
/dist-release
/docs-api
/run

.rollup.cache
.my-tools
.nx
.idea
.DS_Store

*.tsbuildinfo

*.log
*.logs
*.swp
*.tmp
*.rdb

# package-lock.json

# auto created

# should pre-compiled

.vscode/sftp.json
.sync-config.cson
sftp-config.json
sftp-config-.json
/.assets
zova-docs/.vitepress/cache
vite.config.ts.timestamp-*

!zova-dev/packages-utils/last-word/dist