hoist = true
hoist-workspace-packages = true
public-hoist-pattern[]=*webpack*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*types*
public-hoist-pattern[]=lerna
public-hoist-pattern[]=cabloy
public-hoist-pattern[]=@cabloy
public-hoist-pattern[]=*cabloy*
public-hoist-pattern[]=*@cabloy*
public-hoist-pattern[]=*egg-born*
link-workspace-packages = 'deep'
prefer-workspace-packages = true
